body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('background.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  /*border-radius:10px;*/
  position:absolute;  
}

.trini {
  content: url('lana.gif');
  height: 300px;
  width: 150px;
}

.dave {
  content: url('carlton.gif');
  height: 300px;
  width: 150px;
}

.electricSlide {
  animation: slide 3s ease-in-out both alternate infinite;

 /* -webkit-animation-name: slide;
  -moz-animation-name: slide;
  -o-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;*/
}

@keyframes slide {
  /*0%{transition: transform: translateX(0);}*/
  /*20% {transform: translateX(200px);}*/
  /*35% {transform: translateX(0);}*/
  /*90% {transform: translateX(980px);}*/
  /*100% {transform: translateX(900px);}*/
  from {transform: translateX(-600px);}
  to {transform: translateX(980px);}
}